<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.itcity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Itcity">
        <activity
            android:name=".THEORY_TASK.programming.Zadp6"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".THEORY_TASK.programming.Zadp5"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".THEORY_TASK.programming.Zadp4"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".THEORY_TASK.programming.Zadp3" />
        <activity
            android:name=".THEORY_TASK.programming.Zadp2"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".THEORY_TASK.programming.Thpr13" />
        <activity android:name=".THEORY_TASK.programming.Thpr12" />
        <activity android:name=".THEORY_TASK.programming.Thpr11" />
        <activity android:name=".THEORY_TASK.programming.Thpr10" />
        <activity android:name=".THEORY_TASK.programming.Thpr9" />
        <activity android:name=".THEORY_TASK.programming.Thpr8" />
        <activity android:name=".THEORY_TASK.programming.Thpr7" />
        <activity android:name=".THEORY_TASK.programming.Thpr6" />
        <activity android:name=".THEORY_TASK.programming.Thpr5" />
        <activity android:name=".THEORY_TASK.programming.Thpr4" />
        <activity android:name=".THEORY_TASK.programming.Thpr3" />
        <activity android:name=".THEORY_TASK.programming.Thpr2" />
        <activity android:name=".THEORY_TASK.programming.Zadprog1" />
        <activity android:name=".THEORY_TASK.programming.Thprog1" />
        <activity android:name=".THEORY_TASK.computer_Device.Comp_Home" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ThInf6" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ZadInf15" />
        <activity
            android:name=".THEORY_TASK.fundamental_of_informatics.ZadInf14"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".THEORY_TASK.fundamental_of_informatics.ZadInf13"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ZadInf12" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ZadInf11" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ZadInf10" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ZadInf9" />
        <activity
            android:name=".THEORY_TASK.fundamental_of_informatics.ZadInf8"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".THEORY_TASK.fundamental_of_informatics.ZadInf7"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ZadInf6" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ZadInf5" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.TheoInf5" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.Tinf" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.Tinf4" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ZadInf4" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ZadInf3" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ZadInf2" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ThInf16" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ThInf15" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ThInf14" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ThInf13" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ThInf12" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ThInf11" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ThInf10" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ThInf9" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ThInf8" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ThInf7" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ThInf" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.Thinf5" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ThInf3" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ThInf2" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ZadInf1" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.ThInf1" />
        <activity android:name=".THEORY_TASK.computer_Device.Zadcomp6" />
        <activity android:name=".THEORY_TASK.security.ZadSec8" />
        <activity android:name=".THEORY_TASK.computer_Device.Zadcomp5" />
        <activity android:name=".THEORY_TASK.computer_Device.Zadcomp4" />
        <activity android:name=".THEORY_TASK.computer_Device.Zadcomp3" />
        <activity android:name=".THEORY_TASK.computer_Device.Zadcomp2" />
        <activity android:name=".THEORY_TASK.computer_Device.ZadComp1" />
        <activity
            android:name=".THEORY_TASK.security.ZadSec7"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".THEORY_TASK.security.Zadsec6"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".THEORY_TASK.security.ZadSec4" />
        <activity android:name=".THEORY_TASK.security.ZadSec5" />
        <activity android:name=".THEORY_TASK.security.TheorySecurity5" />
        <activity android:name=".THEORY_TASK.algorithm.TheoryAlgorithm5" />
        <activity android:name=".THEORY_TASK.security.ZadanieSecurity3" />
        <activity android:name=".THEORY_TASK.security.ZadanieSecurity2" />
        <activity android:name=".THEORY_TASK.security.ZadanieSecurity1" />
        <activity android:name=".THEORY_TASK.computer_Device.TheoryComputer6" />
        <activity android:name=".THEORY_TASK.computer_Device.TheoryComputer5" />
        <activity android:name=".THEORY_TASK.computer_Device.TheoryComputer4" />
        <activity android:name=".THEORY_TASK.computer_Device.TheoryComputer3" />
        <activity android:name=".THEORY_TASK.computer_Device.TheoryComputer2" />
        <activity android:name=".THEORY_TASK.computer_Device.TheoryComputer1" />
        <activity android:name=".THEORY_TASK.security.TheorySecurity8" />
        <activity android:name=".THEORY_TASK.security.TheorySecurity7" />
        <activity android:name=".THEORY_TASK.security.TheorySecurity6" />
        <activity android:name=".THEORY_TASK.security.TheorySecurity4" />
        <activity android:name=".THEORY_TASK.security.TheorySecurity3" />
        <activity android:name=".THEORY_TASK.security.TheorySecurity2" />
        <activity android:name=".THEORY_TASK.security.TheorySecurity1" />
        <activity android:name=".THEORY_TASK.algorithm.ZadanieAlgorithm6" />
        <activity android:name=".THEORY_TASK.algorithm.ZadanieAlgorithm5" />
        <activity android:name=".THEORY_TASK.algorithm.ZadanieAlgorithm4" />
        <activity android:name=".THEORY_TASK.algorithm.ZadanieAlgorithm3" />
        <activity android:name=".THEORY_TASK.algorithm.ZadanieAlgorithm2" />
        <activity android:name=".THEORY_TASK.algorithm.TheoryAlgorithm6" />
        <activity android:name=".THEORY_TASK.algorithm.TheoryAlgorithm4" />
        <activity android:name=".THEORY_TASK.algorithm.TheoryAlgorithm3" />
        <activity android:name=".THEORY_TASK.algorithm.TheoryAlgorithm2" />
        <activity android:name=".THEORY_TASK.algorithm.TheoryAlgorithm1" />
        <activity android:name=".Activity_Profile" />
        <activity android:name=".THEORY_TASK.algorithm.ZadanieAlgorithm1" />
        <activity android:name=".THEORY_TASK.programming.ZadanieProgrammingActivity" />
        <activity android:name=".THEORY_TASK.security.Security_HOME" />
        <activity android:name=".THEORY_TASK.fundamental_of_informatics.Informatica_HOME" />
        <activity android:name=".THEORY_TASK.programming.Programming_Teory_Task" />
        <activity android:name=".THEORY_TASK.algorithm.Algorithm_HOME" />
        <activity android:name=".ActivityMap" />
        <activity android:name=".ActivityRegistration" />
        <activity android:name=".ActivityAuthor" />
        <activity android:name=".EkranVos" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>